@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothicPaneuropeanRegular.ttf') format('ttf'),
    url('/fonts/CenturyGothicPaneuropeanRegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Century Gothic, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 1171px;
}

.main__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    margin: 17px 0 10px 0;
}

.main__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
    display: inline-block;
    position: relative;
    margin-bottom: 35px;
}

.main__description-icon {
    position: relative;
    display: inline-block;
    left: 3px;
    bottom: 6px;
}

.service {
    background: #EEF0F3;
    border-radius: 13px;
    margin-bottom: 28px;
}

.service__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 11px;
}

.service-header {
    height: 65px;
    border-radius: 13px;
    background: #D2DAE5;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 4px;
}

.service-type__title {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 787px;
}

.service-type {
    display: flex;
    position: relative;
    height: auto;
    padding: 21px 7px 24px 14px;
}

.service-type__with-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 14px;
    bottom: 0;
    max-width: 1137px;
    height: 1px;
    background-color: #D6D8DB;
    margin-top: 10px;
}

.service-type__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    display: inline-block;
    width: 350px;
}

.service-custom-margin {
    margin-bottom: 23px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}


@media only screen and (max-width: 1200px) {
    .main {
        width: 100%;
    }

    .body-container {
        padding: 0 16px;
    }

    .service-type__with-line::after {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service-type__title {
        width: 600px;
        margin-right: 16px;
    }
}


@media only screen and (max-width: 992px) {
    .service-type__price {
        width: 90%;
    }

    .service-type {
        flex-direction: column;
    }

    .service-type__title {
        width: 100%;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .body-container {
        padding: 0 8px;
    }
}


@media only screen and (max-width: 768px) {

}

